<div>
  <h1><%= @sighting.animal_type %></h1>

  Size: <%= @sighting.size%><br>
  Breed: <%= @sighting.breed%><br>
  Coat Color: <%= @sighting.coat_color%><br>
  Coat Length: <%= @sighting.coat_length%><br>

  Tag: <%= @sighting.tag%><br>
  Details: <%= @sighting.detail%><br>
</div>