<div>
  <h1><%= @losting.pet_name %></h1>
  <h2><%= @losting.animal_type %></h2>

  Size: <%= @losting.size%><br>
  Breed: <%= @losting.breed%><br>
  Coat Color: <%= @losting.coat_color%><br>
  Coat Length: <%= @losting.coat_length%><br>

  Tag: <%= @losting.tag%><br>
  Details: <%= @losting.detail%><br>
</div>