<script>
  var formController = new FormController()
  formController.initialize()
var routeModel = new RouteModel();
  var routeController = new RouteController(routeModel)
  routeController.initialize()

  $("#new_losting").on("submit", routeController.model.createLosting);
</script>
<div id="losting">
  <h3>Lost</h3>
  <%= form_for @losting, {remote: true, :authenticity_token => true} do |f| %>
  <%= f.label :pet_name, "Pet name:" %>
  <%= f.text_field :pet_name, required: true %>
  <br>
  <%= f.label :animal_type, "Animal type:" %>
  <%= f.select :animal_type, options_for_select([["Type", "default"],["Cat", "cat"], ["Dog", "dog"]], disabled: "Type", onclick: "formController.animalCheck") %>
  <br>
  <div id="cat" style="display: none;">
    <%= f.label :breed, "Breed:" %>
    <%= f.select :breed, options_for_select(@cat_breeds) %>
</div>

<div id="dog" style="display: none;">
    <%= f.label :breed, "Breed:" %>
    <%= f.select :breed, options_for_select(@dog_breeds) %>
</div>


<div class="info" style="display: none;">
    <%= f.label :size, "Size:" %>
    <%= f.select :size, options_for_select([["Small", "small"], ["Medium", "medium"], ["Large", "large"]]) %>
    <br>
    <%= f.label :coat_color, "Coat color:" %>
    <%= f.text_field :coat_color %>
    <br>
    <%= f.label :coat_length, "Coat length:" %>
    <%= f.select :coat_length, options_for_select([["Long", "long"], ["Medium", "medium"], ["Short", "short"], ["Hairless", "hairless"]]) %>
    <%= f.hidden_field :Lat %>
    <%= f.hidden_field :Lng %>
    <br>
    <%= f.label :tag, "Tag:" %>
    <%= f.text_field :tag %>
    <br>
    <%= f.label :detail, "Details:" %>
    <%= f.text_area :detail %>
    <br>
    <%= f.label :event_date, "Date lost:" %>
    <%= f.datetime_select :event_date %>
    <br>
    <%= f.label :avatar, "Image" %>
    <%= f.file_field :avatar %>
    <br><br>
</div>


<%= f.submit %>
<% end %>
</div>