<div class="container">
<h3>Lost</h3>
<%= form_for @losting, {action: "create"} do |f| %>
<%= f.label :pet_name, "Pet name:" %>
<%= f.text_field :pet_name %>
<br>
<%= f.label :animal_type, "Animal type:" %>
<%= f.select :animal_type, options_for_select([["Cat", "cat"], ["Dog", "dog"]]) %>
<br>
<%= f.label :size, "Size:" %>
<%= f.select :size, options_for_select([["Small", "small"], ["Medium", "medium"], ["Large", "large"]]) %>
<br>
<%= f.label :coat_color, "Coat type:" %>
<%= f.text_field :coat_color %>
<br>
<%= f.label :coat_length, "Coat length:" %>
<%= f.select :coat_length, options_for_select([["Long", "long"], ["Medium", "medium"], ["Short", "short"], ["Hairless", "hairless"]]) %>
<br>
<%= f.label :breed, "Breed:" %>
<%= f.select :breed, options_for_select([["still working on it"]]) %>
<br>
<%= f.label :location, "Last location:" %>
<%= f.text_field :location %>
<br>
<%= f.label :tag, "Tag:" %>
<%= f.text_field :tag %>
<br>
<%= f.label :detail, "Details:" %>
<%= f.text_area :detail %>
<br>
<%= f.label :date_lost, "Date lost:" %>
<%= f.date_select :date_lost %>
<br><br>
<%= f.submit %>
<% end %>

</div>
