<h3>Sighting</h3>
<%= form_for @sighting, {action: "create", remote: true} do |f| %>
<%= f.label :animal_type, "Animal type:" %>
<%= f.select :animal_type, options_for_select([["Type", "default"],["Cat", "cat"], ["Dog", "dog"]], disabled: "Type", onclick: "formController.animalCheck") %>


<div id="cat" style="display: none;">


  <%= f.label :size, "Size:" %>
  <%= f.select :size, options_for_select([["Small", "small"], ["Medium", "medium"], ["Large", "large"]]) %>
  <br>
  <%= f.label :coat_color, "Coat color:" %>
  <%= f.text_field :coat_color %>
  <br>
  <%= f.label :coat_length, "Coat length:" %>
  <%= f.select :coat_length, options_for_select([["Long", "long"], ["Medium", "medium"], ["Short", "short"], ["Hairless", "hairless"]]) %>
  <br>
  <%= f.label :breed, "Breed:" %>
  <%= f.select :breed, options_for_select(@cat_breeds) %>
  <br>
  <%= f.label :Lat, "Last lat:" %>
  <%= f.text_field :Lat %>
  <%= f.label :Lng, "Last lng:" %>
  <%= f.text_field :Lng %>
  <br>
  <%= f.label :tag, "Tag:" %>
  <%= f.text_field :tag %>
  <br>
  <%= f.label :detail, "Details:" %>
  <%= f.text_area :detail %>
  <br>
  <%= f.label :event_date, "Date seen:" %>
  <%= f.datetime_select :event_date %>
  <br>
  <%= f.label :found, "In my possession:" %>
  <%= f.check_box :found, checked: false %>
  <br><br>
</div>

<div id="dog" style="display: none;">

  <%= f.label :size, "Size:" %>
  <%= f.select :size, options_for_select([["Small", "small"], ["Medium", "medium"], ["Large", "large"]]) %>
  <br>
  <%= f.label :coat_color, "Coat color:" %>
  <%= f.text_field :coat_color %>
  <br>
  <%= f.label :coat_length, "Coat length:" %>
  <%= f.select :coat_length, options_for_select([["Long", "long"], ["Medium", "medium"], ["Short", "short"], ["Hairless", "hairless"]]) %>
  <br>
  <%= f.label :breed, "Breed:" %>
  <%= f.select :breed, options_for_select(@dog_breeds) %>
  <br>
  <%= f.label :Lat, "Last lat:" %>
  <%= f.text_field :Lat %>
  <%= f.label :Lng, "Last lng:" %>
  <%= f.text_field :Lng %>
  <br>
  <%= f.label :tag, "Tag:" %>
  <%= f.text_field :tag %>
  <br>
  <%= f.label :detail, "Details:" %>
  <%= f.text_area :detail %>
  <br>
  <%= f.label :event_date, "Date seen:" %>
  <%= f.datetime_select :event_date %>
  <br>
  <%= f.label :found, "In my possession:" %>
  <%= f.check_box :found, checked: false %>
  <br><br>
</div>


<br><br>
<%= f.submit %>
<% end %>

